* {
  font-family: Montserrat;
  font-weight: bold;
  text-align: center;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

p {
  margin-top: 5px;
  margin-bottom: 5px;
}

.horizontal {
  display: flex;
  gap: 200px;
}

h2 {
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}

h1 {
  font-size: 70px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.d {
  margin-top: 10px;
  margin-bottom: 10px;
}
